<div class="h-screen w-screen flex items-center justify-center relative" 
    style="background-image: url('/assets/images/fundobolao.png'); background-size: cover; background-position: center; background-attachment: fixed;">
    
    <div class="max-w-md w-full mx-auto bolao-login-box"> 
    
        <div class="p-8 rounded-lg shadow-xl space-y-6"> 
        
            <div class="text-center header-login">
                <h2 class="text-3xl font-extrabold titulo-principal text-bolao-text-light">
                    Redefinição de Senha
                </h2>
                <p class="mt-2 text-center text-xl font-extrabold subtitulo text-bolao-text-light/80">
                    Por favor, insira e confirme sua nova senha abaixo.
                </p>
            </div>

            <div *ngIf="!isTokenValid && !isLoading" class="text-red-600 p-3 border border-red-400 bg-red-900/50 rounded-lg mb-4 text-sm">
                <p>⚠️ Link de redefinição inválido ou expirado. Tente novamente.</p>
            </div>
            
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" *ngIf="isTokenValid">
                
                <div class="rounded-md shadow-sm -space-y-px">
                    
                    <div class="relative flex items-center w-full">
                        <input id="newPassword" name="newPassword" [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword"
                            class="appearance-none block w-full px-3 py-2 pr-10 border border-gray-600 placeholder-gray-400 text-bolao-text-light bg-bolao-card-bg-light focus:outline-none focus:ring-bolao-green-dark focus:border-bolao-green-dark focus:z-10 sm:text-sm rounded-t-md"
                            placeholder="Nova Senha">
                        
                        <button type="button" (click)="toggleNewPasswordVisibility()" 
                            class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-bolao-green-light z-20">
                            <i class="material-icons">{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</i>
                        </button>
                    </div>

                    <div class="relative flex items-center w-full">
                        <input id="confirmPassword" name="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"
                            class="appearance-none block w-full px-3 py-2 pr-10 border border-gray-600 placeholder-gray-400 text-bolao-text-light bg-bolao-card-bg-light focus:outline-none focus:ring-bolao-green-dark focus:border-bolao-green-dark focus:z-10 sm:text-sm rounded-b-md"
                            placeholder="Confirmar Senha">

                        <button type="button" (click)="toggleConfirmPasswordVisibility()" 
                            class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-bolao-green-light z-20">
                            <i class="material-icons">{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</i>
                        </button>
                    </div>
                </div>
                
                <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.dirty || resetPasswordForm.get('newPassword')?.touched)"
                    class="text-red-500 text-sm mt-1">
                    A senha precisa ter no mínimo 6 caracteres.
                </div>
                <div *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmPassword')?.touched"
                    class="text-red-500 text-sm mt-1">
                    As senhas não coincidem.
                </div>

               <div class="mt-6">
               <button
                    type="submit"
                     [disabled]="resetPasswordForm.invalid || isLoading" 
                     [ngClass]="{
                        'bg-gray-400 cursor-not-allowed': resetPasswordForm.invalid || isLoading,
                        'bg-bolao-green-dark hover:bg-bolao-green-dark/90': resetPasswordForm.valid && !isLoading 
                         }"
                      class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-bolao-green-dark transition duration-150 ease-in-out"
                       >
                        Redefinir Senha 
                    </button>
                </div>
            </form>

            <div *ngIf="isLoading" class="text-center mt-6">
                <div class="inline-block animate-spin rounded-full h-6 w-6 border-b-2 border-bolao-green-dark"></div>
                <p class="mt-2 text-bolao-text-light/80">Carregando...</p>
            </div>

            <div *ngIf="debugErrorDetails" class="mt-6 p-4 border border-red-500 bg-red-900/50 rounded-lg text-red-300 text-sm">
                <p class="font-bold">Detalhes do Erro da API (DEBUG):</p>
                <p class="whitespace-pre-wrap break-words">{{ debugErrorDetails }}</p>
            </div>

            <div class="text-center text-sm mt-6">
                <a routerLink="/login" class="font-medium text-bolao-green-light hover:text-bolao-green-light/80">
                    Lembrou da senha? Faça login.
                </a>
            </div>
        </div>
        </div>
    </div>