<div class="flex flex-col h-full bg-cover bg-center text-gray-900 rounded-lg shadow-lg p-4 sm:p-6"
  style="background-image: url('assets/images/fundobolao.png');">
  
  <div class="flex justify-between items-center mb-4 pb-3 border-b border-gray-400">
    <h1 class="font-bold text-slate-800 min-w-0 flex-shrink-0 text-lg sm:text-xl">
      <span class="fonte-subtit text-slate-900">Regras do Bolão</span>
    </h1>
    <button mat-raised-button color="primary" (click)="goBack()"
      class="px-3 py-1 text-sm sm:px-4 sm:py-2 bg-indigo-600 hover:bg-indigo-700 text-white font-semibold rounded-full shadow-md transition duration-300 ease-in-out transform hover:scale-105 ml-2">
      <mat-icon>arrow_back</mat-icon>
      Voltar
    </button>
  </div>

  <div class="flex-grow overflow-y-auto p-4 bg-white rounded-lg shadow-md">

    <h2 class="text-xl font-bold text-slate-800 mb-4">Pontuação:</h2>

    <ul class="list-disc list-inside space-y-2 text-gray-700 mb-6">
      
      <li>**Acertar o placar exato: 7 pontos.</li>
      
      <li>**Acertar o resultado e o placar do vencedor ou o placar do perdedor: 4 pontos.</li>      
      <li>**Acertar o empate:** 3 pontos.</li>    
      <li>**Bônus de placar exato ÚNICO: 5 pontos.</li>
      <li>**Errar O RESULTADO, mesmo acertando algum dos placares: 0 pontos.</li>

    </ul>

    <h2 class="text-xl font-bold text-slate-800 mb-4">Apostas:</h2>
    <ul class="list-disc list-inside space-y-2 text-gray-700">

      <li>Os palpites devem ser enviados até 1 hora antes do início da rodada.</li>
      
      <li>Apostas em rodada/jogos já iniciados não serão possíveis.</li>
      
      <li>O valor de adesão ao CAMPEONATO é de R$ 100,00, 
          e cada apostador tem o direito a apostar UMA única vez por rodada.</li>
      
      <li>O valor da aposta avulsa é de R$ 10,00 por rodada. Poderão ser feitas
          quantas apostas or desejado e todas concorrerão independentemente.</li>

      <li>O valor das apostas ou de adesão à campeonatos, deverá ser DEPOSITADO pelo APOSTADOR,
          ou seja, o usuário terá que ser REGISTRADO.</li>
      
      <li>O valor dos prêmios de cada RODADA serão depositados pelo BOLAO, e ficarão disponíveis para saque, através do aplicativo, 
          pelo apostador, após o encerramento da apuração da rodada.</li>

      <li>O valor das adesões a cada campeonato são acumulados para pagamento no final do Campeonato,
          quando os prêmios serão depositados pelo Bolão, para saque pelo aplicativo.</li>

      <li>As apostas avulsas, concorrem na rodada selecionada e NÃO CONCORREM NO CAMPEONATO.</li>

      <li>** Uma aposta feita para concorrer no campeonato, poderá concorrer na RODADA. 
          Para isso, o sistema solicitará o pagamento de R$ 10,00 para essa aposta, que será
          denominada MISTA. </li>

      <h2 class="text-xl font-bold text-slate-800 mb-4">Resultados:</h2>
      <ul class="list-disc list-inside space-y-2 text-gray-700">
    
      <li>Os resultados e pontuações correntes, podem ser acompanhados, online, durante        
          o período da rodada e dos seus jogos.</li>

      <li>Os rankings são permanentemente atualizados durante este período, podendo ser acompanhados.        
          O sistema informará quando a rodada já fechou e já existem vencedores.</li>
      
      <li>O ranking da RODADA é finalizado a cada RODADA, e disputam todas as apostas avulsas e/ou mistas.        
          Ao final da Rodada sistema informará o fechamento e que já existem vencedores. </li>
   
      <li>Os apostadores poderão baixar uma PLANILHA DE CONFERÊNCIA em EXCEL, após o encerramento        
          das apostas. Ele listará todas as apostas avulsas/mistas e todas as apostas concorrendo 
          no campeonato </li>
    </ul>

</ul>

</div>