.login-link {
  color: #FFFFFF; // Exemplo: cor branca
  // Você também pode adicionar negrito para maior destaque
  font-weight: bold;
}

.login-link a {
  color: #FFFFFF; // Cor do link também deve ser ajustada
  text-decoration: underline;
}

.aviso-email {
  color: #ecb80c; // Exemplo: cor branca
  // Você também pode adicionar negrito para maior destaque
  font-weight: bold;
}

.aviso-termos {
  color: #ecb80c; // Exemplo: cor amarela
  // Você também pode adicionar negrito para maior destaque
  font-weight: bold;
}