<div class="h-screen w-screen flex items-center justify-center bg-white">
  <div class="max-w-md w-full p-8 rounded-lg shadow-xl space-y-6 text-black mx-auto">
    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-gray-900">
        Esqueceu sua senha?
      </h2>
      <p class="mt-2 text-center text-xl font-extrabold text-gray-700">
        Informe seu e-mail para redefinir
      </p>
    </div>
    
    <!--
    <div *ngIf="message" class="bg-green-100 border-green-400 text-green-700 px-4 py-3 rounded relative mb-2 border mt-2">
       {{ message }}
    </div>
    -->
    
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <input id="email" name="email" type="email" formControlName="email"
            class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 bg-gray-50 focus:outline-none focus:ring-bolao-green-dark focus:border-bolao-green-dark focus:z-10 sm:text-sm rounded-md"
            placeholder="Endereço de E-mail">
        </div>
      </div>
      <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)"
        class="text-red-500 text-sm mt-1">
        <span *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">E-mail é obrigatório.</span>
        <span *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">E-mail inválido.</span>
      </div>

      <div class="mt-6">
        <button type="submit" [disabled]="forgotPasswordForm.invalid"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-bolao-green-dark hover:bg-bolao-green-dark/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-bolao-green-dark">
          Enviar
        </button>
      </div>
    </form>

    <div class="text-center text-sm mt-6">
      <a routerLink="/login" class="font-medium text-blue-700 hover:text-blue-900">
        Voltar para o Login
      </a>
    </div>
  </div>
</div>