<div class="h-screen w-screen flex items-center justify-center relative overflow-hidden" 
     style="background-image: url('/assets/images/fundobolao.png'); background-size: cover; background-position: center; background-attachment: fixed;">
  
    <div class="max-w-md w-full bg-gray-800 p-8 rounded-lg shadow-2xl border-4 border-bolao-green-light text-bolao-text-light mx-auto 
            absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 space-y-4"> 
    
        <div class="text-center w-full mb-4"> 
      <img src="/assets/images/logobolao.png" alt="Logo Bolão Online" class="w-24 h-24 mx-auto mb-2 rounded-full border-2 border-bolao-green-light">
      
      <h2 class="text-3xl font-extrabold text-bolao-green-light mt-2">
        Bolão Online
      </h2>
      <p class="text-center text-xl font-extrabold text-bolao-green-light mt-1 mb-4">
        Faça login na sua conta
      </p>
    </div>

        <form class="w-full space-y-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
                <div class="rounded-md shadow-sm -space-y-px"> 
                    </div>
      
                <div class="w-full text-center text-sm pt-2 space-y-1"> 
            <a routerLink="/forgot-password" class="block font-medium text-bolao-green-light hover:text-bolao-green-light/80 cursor-pointer underline">
                Esqueceu sua senha?
            </a>
            <a (click)="openResendEmailModal()" class="block font-medium text-bolao-green-light hover:text-bolao-green-light/80 cursor-pointer underline">
                Não recebeu o e-mail? Reenviar.
            </a>
        </div>

                <div class="mt-4">
            <button type="submit" ... class="... w-full flex justify-center ...">
                Entrar
            </button>
        </div>
    
    <div class="text-center text-sm pt-3 w-full">
        Não tem conta?
        <a routerLink="/register" class="font-medium text-bolao-green-light hover:text-bolao-green-light/80 underline">
            Registre-se aqui
        </a>
    </div>
    </form>
    
    <div *ngIf="showResendEmailModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
        </div>
  </div>
</div>