.card-saldo-final {
  background-color: #0f172a !important; /* Grafite Escuro */
  border-radius: 16px;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #1e293b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 8px;
}

.label-saldo-topo {
  font-size: 9px;
  font-weight: 900;
  color: #94a3b8;
  text-transform: uppercase;
  margin-bottom: -2px;
}

.valor-saldo-foco {
  font-size: 1.3rem;
  font-weight: 900;
  color: #ffffff !important;
}

.btn-acao-saldo {
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 10px;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

.btn-pix { background-color: #4f46e5 !important; color: white !important; }
.btn-sacar { background-color: #334155 !important; color: white !important; }