/* Estilos para os alertas (SnackBar) */
::ng-deep {
  .snackbar-success {
    --mdc-snackbar-container-color: #059669; // Verde Esmeralda
    --mdc-snackbar-supporting-text-color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  }

  .snackbar-error {
    --mdc-snackbar-container-color: #dc2626; // Vermelho Intenso
    --mdc-snackbar-supporting-text-color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
  }

  .snackbar-warning {
    --mdc-snackbar-container-color: #d97706; // Laranja/Âmbar para Saldo Insuficiente
    --mdc-snackbar-supporting-text-color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
  }
}

/* Complementos para os botões do formulário */
.btn-save-active {
  background-color: #059669 !important;
  color: white !important;
  box-shadow: 0 8px 16px rgba(5, 150, 105, 0.4);
  transition: transform 0.2s ease;
  &:active { transform: scale(0.95); }
}

.btn-locked {
  background-color: #334155 !important;
  color: #94a3b8 !important;
  cursor: not-allowed !important;
}