/* 1. DIRETIVAS DE BASE */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/material/prebuilt-themes/indigo-pink.css'; 

/* 2. RESET E FUNDO GLOBAL */
html, body { 
  height: 100% !important; 
  margin: 0 !important; 
  background-color: #020617 !important; 
  font-family: 'Roboto', sans-serif !important;
}
