<div class="h-screen w-screen flex items-center justify-center relative" 
     style="background-image: url('/assets/images/fundobolao.png'); background-size: cover; background-position: center; background-attachment: fixed;">
     
    <div class="max-w-md w-full mx-auto bolao-login-box"> 
        
        <div class="text-center header-login"> 
          <h2 class="text-3xl font-extrabold titulo-principal">
            Esqueceu sua senha?
          </h2>
          <p class="mt-2 text-center text-xl font-extrabold subtitulo">
            Informe seu e-mail para redefinir
          </p>
        </div>
        
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="rounded-md shadow-sm -space-y-px">
            <div>
              <input id="email" name="email" type="email" formControlName="email"
                class="appearance-none relative block w-full px-3 py-2 border border-gray-600 placeholder-gray-400 text-bolao-text-light bg-bolao-card-bg-light focus:outline-none focus:ring-bolao-green-dark focus:border-bolao-green-dark focus:z-10 sm:text-sm rounded-md"
                placeholder="Endereço de E-mail">
            </div>
          </div>
          
          <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)"
            class="text-red-500 text-sm mt-1">
            <span *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">E-mail é obrigatório.</span>
            <span *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">E-mail inválido.</span>
          </div>

          <div class="mt-6">
            <button type="submit" [disabled]="forgotPasswordForm.invalid"
              class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-bolao-green-dark hover:bg-bolao-green-dark/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-bolao-green-dark"
              [style.background-color]="forgotPasswordForm.invalid ? '#81C784' : '#3F51B5'">
                Enviar
            </button>
          </div>
        </form>

        <div class="text-center text-sm mt-6">
          <a routerLink="/auth/login" class="font-medium text-bolao-green-light hover:text-bolao-green-light/80">
            Voltar para o Login
          </a>
        </div>
      </div>
</div>